.first-section {
  width: 100%;
  height: 100vh;
  background-color: #f0eae0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem 4rem;
  box-sizing: border-box;
  position: relative;
}

.first-section-left {
  flex: 2;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.first-section-top {
  position: absolute;
  padding-top: 5rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .top-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    img {
      position: absolute;
      top: 74%;
      left: 35%;
      width: 35%;
      object-fit: contain;
      object-position: center;
    }
  }

  .top-content-text {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    line-height: 1.2;

    .top-content-text-line-1 {
      margin-left: -25% !important;
      font-family: "Beauty Ballerina", serif !important;
      font-size: 2.75rem;
      font-weight: 400;
      color: #2a2a2a;
      margin: 0;
      padding: 0;
    }

    .top-content-text-line-2 {
      margin-left: 28% !important;
      font-family: 'Beauty Ballerina', serif !important;
      font-size: 2.75rem;
      font-weight: 400;
      color: #2a2a2a;
      margin: 0;
      padding: 0;
    }
  }
}

.first-section-middle {
  flex: 3;
  height: 100%;
  margin: 4rem;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  overflow: visible;
  text-align: center;
  font-family: "Times New Roman", "Times", serif !important;
  color: #454a54d4;
  font-weight: 300 !important;
  font-size: 1.1rem;
  letter-spacing: 0.01em;
  line-height: 1.5;

  .middle-content {
    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    div {
      white-space: pre-line;
    }
  }
}

.first-section-right {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  overflow: visible;

  .right-image-wrapper {
    position: relative;
    height: 55%;
    width: 100%;
    display: inline-block;
    overflow: visible;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      position: relative;
      z-index: 2;
    }

    .corner-svg {
      position: absolute;
      top: -17%;
      left: -30%;
      width: 90px;
      height: 99px;
      object-fit: contain;
      z-index: 1;
      pointer-events: none;
      opacity: 0.5;
    }
  }
}
