.blog {
    background-color: #f0eae0;
    padding: 100px 0px 0px;

    @media (max-width: 768px) {
        padding: 60px 0px;
        min-height: auto;
    }

    @media (max-width: 480px) {
        padding: 40px 0px;
    }
    .flex-Blog{
        padding-top: 100px;
        height: 30vh;
        h2{
            font-size: 70px
        }
        .grid-5-Blog{
            display: flex;
            justify-content: center;

        }
    }
}