.seventh {
  background: #f0eae0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  overflow: hidden;
}

.seventh__wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 90px;
  align-items: center;
  padding: 100px 50px 0px;
}

@media (min-width: 1200px) {
  .seventh__wrapper {
    max-width: 1700px;
    height: 80vh;
  }
}

/* ================= IMAGE GRID ================= */

.seventh__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 2.1fr;
  gap: 26px;
}

.seventh__grid .col {
  display: flex;
  flex-direction: column;
  gap: 26px;
  max-height: 600px;
}

.seventh__grid .col.center {
  justify-content: center;
  height: 100% !important;
}

.seventh__grid .col.center img {
  height: 100% !important;
  max-height: none !important;
}

.seventh__grid .col:first-child img {
  height: 300px !important;
  max-height: 280px !important;
}

.seventh__grid .col:last-child img {
  height: 300px !important;
  max-height: 280px !important;
}

.seventh__grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* ================= TEXT CONTENT ================= */

.seventh__content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.seventh__content h2 {
  font-family: "Beauty Ballerina";
  font-size:3.5rem;
  font-weight: 900;
  color: #1e1e1e;
  margin-bottom: 22px;
  letter-spacing: 2px;
  font-weight: 400;

}

.seventh__content p {
  font-family: "Phetsarath", sans-serif;
  font-size: 0.875rem;
  margin: 0 ;
}




/* ================= SOCIAL ================= */

.seventh__social {
  display: flex;
  align-items: center;
  font-family:"Comfortaa";
  gap: 40px;
  padding: 50px 50px 80px;
}

.seventh__social span {
  font-size: 17px;
  letter-spacing: 2px;
  color: #ABB0BA;
  display: block;
  margin-bottom: 6px;
  font-weight: 500;
}

.seventh__social a {
  font-size: 17px;
  color: #1e1e1e;
  text-decoration: none;
  display: flex;
  cursor: pointer;
}

.seventh__social .divider {
  width: 2px;
  height: 80px;
  background: #B3A155;
}
.Frame-icon{
  width: 21px;
}