.brijesh-section {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f0eae0;
    overflow: hidden;

    .container {
        max-width: 1300px;
        margin: auto;
        padding: 0 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* CONTENT */
    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 40px;
        max-width: 800px;

        h2 {
            font-family: "Beauty Ballerina";
            font-size: 56px;
            font-weight: 400;
            margin: 0;
        }

        p {
            font-family: "Phetsarath";
            font-size: 0.75rem;
            font-weight: 400;
            color: #8f95a3;
            margin: 0;
            letter-spacing: 2px;
            text-transform: uppercase;
            text-align: center;
            line-height: 1.6;
        }
    }

    /* RESPONSIVE */
    @media (max-width: 1024px) {
        .container {
            padding: 0 20px;
        }

        .content {
            gap: 30px;

            h2 {
                font-size: 48px;
            }

            p {
                font-size: 0.7rem;
            }
        }
    }
}